

.carousel-container {
    width: 60%;
    margin: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
   
    transition: transform 0.3s ease;
}

.carousel-item img:hover {
    transform: scale(1.05);
}
.gallery-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery-container h3{
    font-size: 2.3rem;
    color:   #9e4ff2;
    font-weight: bolder;
}





